@using IdentityServer4.Extensions
@model List<ProdutoViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @{
        if (@User.Identity.IsAuthenticated)
        {
            <h4>Bem vindo, @User.Claims.FirstOrDefault(c => c.Type == "given_name")?.Value</h4>
        }

        if (Model != null)
        {
            <h2>Lista de Produtos:</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var produto in Model)
                    {
                        <tr>
                            <td>@produto.Codigo</td>
                            <td>@produto.Descricao</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>
