@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Projeto integrado - Arquitetura de software distribuído</p>

<span><b>Aluno:</b> Kevin Leonardo Moreira Gomes</span>
<br />
<b>Repositório:</b>
<a href="https://github.com/GomesKevin/TCC">https://github.com/GomesKevin/TCC</a>


